.taskform-component {
    background-color: rgba(0, 0, 0, 0.434);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999;
}

.container-taskform {
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 2rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    padding-bottom: 2rem;
}

#taskform {
    display: flex;
    flex-direction: column;
}

.container-taskform h1 {
	font-size: 1.3rem;
	font-weight: 500;
}

.container-taskform h2 {
    color: #0047b6;
	font-size: 0.9rem;
	font-weight: 400;
    margin-right: 0.6rem;
}

.container-taskform hr {
    border: 0.04rem solid rgb(200, 200, 200);
    width: 25rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.container-taskform input {
    font-weight: 300;
    border-radius: 1.2rem;
    background-color: #EDEDED;
    border: none;
    height: 1.7rem;
    padding-left: 0.6rem;
    flex: 1;
}

.container-taskform textarea {
    font-weight: 300;
    border-radius: 1.2rem;
    background-color: #EDEDED;
    border: none;
    padding: 0.6rem;
    flex: 1;
}

.container-taskform select {
    font-weight: 300;
    border-radius: 1.2rem;
    background-color: #EDEDED;
    border: none;
    height: 1.7rem;
    padding-left: 0.8rem;
    flex: 1;
}

.container-taskform #prioridad, .container-taskform #historia  {
    margin-right: 2rem;
}

.container-taskform ul {
    list-style: none;
    align-self: center;
    width: 90%;
    margin-bottom: 0.6rem;
}

.container-taskform li {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.taskf-buttons {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}