.boton {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 1.6rem;
    font-size: 0.95rem;
    font-weight: 200;
    height: 2rem;
    width: 10rem;
    align-self: center;
}

.boton:active {
    transform: translateY(0.1rem);
}