/*
body > #root > div {
    box-sizing: border-box;
    align-items:start;
    background-color: #151515;
}
*/

.navBar-component {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 1.2em;
    height: 4rem;
}

.navBar-component .barraBusqueda {
    overflow: hidden;
    display: flex;
    align-self: center;
    background-color: #464646;
    border-radius: 1.2em;
    width: 40rem;
    height: 2rem;
}

.navBar-component .barraBusqueda input {
    color:#fff;
    background-color: inherit;
    /*width: 100%;*/
    border: none;
}

.navBar-component .barraBusqueda input:focus {
    outline: none;
    border: none;
}

.navBar-component .usuarioElems {
    display: flex;
}

.navBar-component img {
    object-fit: contain;
    width: 2em;
    margin-left: 1em;
}

.barraBusqueda img {
    width: 1em;
    object-fit: contain;
    margin-right: 1em;
}

.navBar-component h1 {
    font-weight: 200;
    align-self: center;
    font-size: 1.2em;
    color: #fff;
}