.login-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.keisoline-txt {
    align-self: center;
}

.login-component h1 {
    color: #ffff;
    font-size: 2.3rem;
    font-weight: 200;
    margin-bottom:0.5em;
}

.login-formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #ffff;
    border-radius: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    overflow: hidden;
}

.login-formulario .campo {
    align-items: center;
    border-radius: 2.5rem;
    border:0.09rem solid black;
    display: flex;
    margin-bottom: 0.7em;
    padding: 0.6em;
}

.login-formulario a {
    color: #0047B6;
    display: inline;
    font-size: 0.8em;
    text-decoration: none;
}

form a {
    margin-top: 0.8rem;
}

.boton-azul:hover, .boton-negro:hover, a:hover{
    cursor: pointer;
}

.login-formulario form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.campo input{
    justify-self: center;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    width: 17rem;
    margin: 0 1em;
}

.campo input[type=text]:focus, input[type=password]:focus{
    outline: none;
}

.login-component hr {
    border: 0.04rem solid black;
    width: 17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.campo img {
    object-fit: contain;
    width: 1.6rem;
    margin-left: 0.3rem;
}

.login-component footer {
    color: white;
    font-size: 0.75rem;
    font-weight: 200;
    position: fixed;
    bottom: 0.6rem;
    align-self: left;
}