.login-component {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-component h1 {
    color: #ffff;
    font-size: 2em;
    font-weight: 300;
    margin-bottom:0.5em;
}

.login-formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #ffff;
    border-radius: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;
}

.login-formulario .campo {
    align-items: center;
    border-radius: 2.5em;
    border:0.13em solid black;
    display: flex;
    margin-bottom: 1em;
    padding: 1em;
}

a {
    color: #0047B6;
    display: inline;
    font-size: 0.8em;
    text-decoration: none;
}

.boton-azul:hover, .boton-negro:hover, a:hover{
    cursor: pointer;
}

.login-formulario form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.campo input{
    justify-self: center;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 1em;
    width: 100%;
}

.campo input[type=text]:focus, input[type=password]:focus{
    outline: none;
}

.login-component hr {
    border: 0.048rem solid black;
    width: 22rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boton-azul {
    cursor: pointer;
    color: white;
    background-color: #0047b6;
    border: none;
    border-radius: 1.6rem;
    font-size: 0.95rem;
    font-weight: 200;
    height: 2.4rem;
    width: 10rem;
    margin-top: 0.5rem;
    align-self: center;
    margin-bottom: 1em;
}

.boton-negro {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.6rem;
    font-size: 0.95rem;
    font-weight: 200;
    height: 2.4rem;
    width: 10rem;
    margin-top: 0.5rem;
    align-self: center;
}


.campo img {
    object-fit: contain;
    width: 2.2em;
}

.login-component footer {
    color: white;
    font-size: 0.75em;
    font-weight: 200;
    position: fixed;
    bottom: 0.6em;
    align-self: left;
}