@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
:root {
    --escomBlue: #0047B6;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*
body > #root > div {
    display: flex;
    height: 100vh;
    background-color: black;
}
*/